body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	line-height: 135%;
	text-align: justify;
}

textarea#solution {
	width: 500px;
	height: 250px;
	margin: 0 auto;
	resize: none;
	padding: 5px;
}

#header {
	height: 20px;
	background: yellow;
	padding: 25px;
	line-height: 20px;
}

#header #logo {
	font-size: 25pt;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}

#header a:visited, #header a:active, #header a {
	color: black;
}

#header a:hover {
	color: blue;
}

#menu {
	float: right;
	text-align: right;
	display: inline-block;
}

#menuButton {
	max-width: 150px;
	height: 100%;
	display: inline-block;
	text-decoration: underline;
	font-size: 15pt;
	padding-right: 10px;
	padding-left: 10px;
}

#container {

}

#content {
	margin: 0 auto;
	width: 80%;
	padding: 20px;
}

table {
	margin-top: 15px;
	border-spacing: 0;
	border-collapse: collapse;
}

thead {
	font-weight: bold;
}

td {
	border: 1px solid black;
	padding: 10px;
}

input[type="text"], input[type="password"] {
	height: 30px;
	padding: 5px;
	border: 2px solid orange;
	font-size: 120%;
}

#loginForm table td {
	border: 0px;
}

#loginForm {
	width: 50%;
	margin: 0 auto;
}

input[type="submit"] {
	height: 30px;
}


.spoiler {
	width: 90%;
	margin-bottom: 10px;
	margin-top: 20px;
}

.spoiler_header {
	font-weight: bold;
	font-style: italic;
	margin-left: 20px;
	border: 1px solid black;
	padding: 5px;
}

.spoiler_header:hover {
	cursor: pointer;
}

.spoiler_content {
	margin-left: 40px;
	border-left: 1px solid black;
	padding-left: 5px;
}